extends template/layout.pug

block content
  // search bar
  div(class="container search-bar")
    div.search-bar-outer
      div.search-bar-inner
        form(action="/search")
          h4.mb-2 尋找餐廳：
          div.input-group
            input(type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..." value="" aria-describedby="search-button")
            div.input-group-append
              button(class="btn btn-major" type="submit" id="search-button")
                i(class="fas fa-search")
      div(class="create-restaurant text-right mt-4")
        a(href="/restaurants/new") 點我新增餐廳 Go!

  div(class="container mt-5")
    div(class="row mb-4")
      div(class="col-md-10 col-12 mx-auto")
        div(class="row justify-content-end pr-3")
          div(class="sort-dropdown ml-4") 排序條件
            div(class="sort-dropdown-content")
              a(href="/sort/name?asc=true") 中文名稱升序
              a(href="/sort/name?asc=false") 中文名稱降序
              a(href="/sort/name_en?asc=true") 英文名稱A-Z
              a(href="/sort/name_en?asc=false") 英文名稱Z-A
              a(href="/sort/rating?asc=true") 評分低到高
              a(href="/sort/rating?asc=false") 評分高到低

          div(class="category-dropdown  ml-4") 依種類篩選
            div(class="category-dropdown-content")
              each category in categories
                a(href=`/filter?category=${category}`) #{category}
         
        
    div(class="row")
      div(class="col-md-10 col-12 mx-auto")
          div(class="card-columns")
            each restaurant in restaurants
              a(href=`/restaurants/${restaurant._id}` class="text-secondary")
                  div(class="card mb-3")
                    img(class="card-img-top" src=`${restaurant.image}` alt=`${restaurant.name}`)
                    div(class="card-body p-3")
                      h6(class="card-title mb-1") #{restaurant.name}
                      div(class="restaurant-category mb-1")
                        i(class="fas fa-utensils pr-2")  #{restaurant.category}
                      span(class="badge badge-pill badge-danger font-weight-normal")
                        | #{restaurant.rating} 
                        i(class="fas fa-star fa-xs")
                    div(class='card-footer text-right')
                      a(class="footer-link" href=`/restaurants/${restaurant.id}/edit`)
                        i(class="fas fa-edit")
                      form(action=`/restaurants/${restaurant.id}/delete?_method=DELETE` method="POST" style="display: inline-block;" onsubmit="return confirm('確定刪除嗎？')")
                        button(class="footer-button delete-button-index" type="submit")
                          i(class="fas fa-trash-alt")
                        